.home {
  background-color: black;
  color:cadetblue;  
  height: 70px;
  font-size: 1.5rem;
}

.header {
  background-color: aquamarine;
  color:cadetblue;  
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
}